.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: rgb(250, 237, 237);
  color: black;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-icon {
  color: black;
}
.mat-card-title{
  color: black;
}
.property{
  color: black;
}
.dashboard-card-content-image {
  position: relative;  /* Make it a positioning context */
  overflow: hidden;    /* Hide any overflow */
  height: 100%;        /* Allow the content to take full height */
}

.image-container {
  width: 100%;
  height: 98%;        /* Fill the card content */
  position: relative;
  
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px; /* Adjust margin as needed */
}


.uploaded-image {
  margin-top: 2px;
  width: 100%;         /* Full width */
  height: 95%;        /* Full height */
  object-fit: cover;   /* Scale the image while preserving aspect ratio */
  border-radius: 18px;
  display: flex;
  flex-direction: column;
}



.process-button {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 50%;
  transform: translate(-50%, 1300%);
  background-color: skyblue;
  color: white;
  z-index: 10; /* Ensure it appears above the image */
}