<div class="grid-container">
  <ng-container *ngIf="moderationLabels.length > 0">
    <mat-grid-list [cols]="cols" rowHeight="200px">
      <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let label of getFilteredLabels(); let i = index">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <span class="property">Moderation Label: {{ i + 1}}</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="spinner-container">
              <mat-progress-spinner 
                mode="determinate" 
                [value]="label?.Confidence" 
                [ngClass]="getSpinnerClass(label?.Confidence)"
                diameter="70">
              </mat-progress-spinner>
              <div class="percentage-text">
                {{ (label?.Confidence).toFixed(0) }}%
              </div>
            </div>
            <div class="content-right">
              <div class="confidence-text">
                <div>Inappropriate Content Type: <strong>{{ label?.Name }}</strong></div>
                <div>Confidence: {{ (label?.Confidence).toFixed(2) }}%</div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    
    
  </ng-container>

  <mat-grid-list cols="2" rowHeight="700px" rowWidth="200px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span class="property">Image Upload</span>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu1" aria-label="Toggle menu">
              <mat-icon>upload_file</mat-icon>
            </button>
            <mat-menu #menu1="matMenu" xPosition="before">
              <button mat-menu-item (click)="uploadImage()">Upload Image</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content-image">
          <div style="margin-top: 30px;" *ngIf="imageUrl; else noImage" class="image-container">
            <img [src]="imageUrl" alt="Uploaded Image" class="uploaded-image"/>
            <div class="button-container">
            </div>
          </div>
          <ng-template #noImage>
            <div>No image uploaded.</div>
          </ng-template>
        </mat-card-content>
        <input type="file" accept="image/jpeg, image/png" (change)="onFileSelected($event)" style="display:none;" #fileInput>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span class="property">Processed Image</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content-image">
          <div style="margin-top: 30px;" *ngIf="isProcessingComplete && imageUrl; else noImageProcessed" class="image-container">
            <img [src]="imageUrl" [class.blurred]="!isImageSafe" alt="Uploaded Image" class="uploaded-image"/>
          </div>
          <ng-template #noImageProcessed>
            <div><br>No image processed.</div>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="isLoading" class="loader-overlay">
    <mat-spinner></mat-spinner>
  </div>

</div>