.grid-container {
  margin: 20px;
}
.spinner-primary {
  --mdc-circular-progress-active-indicator-color: #4caf50; /* Green */
}

.spinner-warn {
  --mdc-circular-progress-active-indicator-color: #ff9800; /* Orange */
}

.spinner-accent {
  --mdc-circular-progress-active-indicator-color: #f44336; /* Red */
}

.mat-icon {
  color: black;
}
.mat-card-title{
  color: black;
}
.property{
  color: black;
  font-size: medium;
}

/* Image Upload Content */
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: rgb(250, 237, 237);
  color: black;
}
.dashboard-card-content-image {
  position: relative;  /* Make it a positioning context */
  overflow: hidden;    /* Hide any overflow */
  height: 100%;        /* Allow the content to take full height */
}

.dashboard-card-content {
  display: flex;
  align-items: center; /* Vertically center items */
  margin-top: 20px;
}


.percentage-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -48%);
  font-weight: bold;
  color: rgb(110, 95, 95); /* Optional: change color for better visibility */
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px; /* Adjust margin as needed */
}

.uploaded-image {
  margin-top: 2px;
  width: 100%;         /* Full width */
  height: 100%;        /* Full height */
  object-fit: cover;   /* Scale the image while preserving aspect ratio */
  border-radius: 18px;
  display: flex;
  flex-direction: column;
}
.image-container {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  min-height: 150px; /* Ensure enough height */
  height: 90%;
  position: relative;
  box-sizing: border-box; /* Include padding in the total size */
  width: 100%; /* Ensure it takes the full width of the card */
  max-width: 100%; /* Prevents overflow */
  overflow: hidden; /* Hides any overflow */
}

.drag-over {
  border-color: #007bff;
  background-color: #f0f8ff;
}

.upload-text {
  color: #aaa; /* Faded text color */
  font-size: 16px; /* Adjust font size as needed */
  line-height: 150px; /* Center the text vertically */
  height: 150px; /* Ensure the text is vertically centered */
}


.blurred {
  filter: blur(8px);
}

/* SnackBard Properties */
.green-snackbar {
  background-color: green;
  color: white;
}

.red-snackbar {
  background-color: red;
  color: white;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Labels Content */
.content-right {
  flex-grow: 1; /* Allows the content area to take up the remaining space */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns text to the left */
}

.confidence-text {
  text-align: left; /* Aligns text to the left */
}

.spinner-container {
  position: relative; /* Make this the reference for absolute positioning */
  margin-right: 16px; /* Space between spinner and content */
}


/* Dynamic Columns */
@media (max-width: 600px) {
  .mat-grid-list {
    grid-template-columns: repeat(1, 1fr) !important; /* 1 column for small screens */
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .mat-grid-list {
    grid-template-columns: repeat(2, 1fr) !important; /* 2 columns for medium screens */
  }
}

@media (min-width: 961px) {
  .mat-grid-list {
    grid-template-columns: repeat(4, 1fr) !important; /* 4 columns for larger screens */
  }
}