.grid-container {
  margin: 20px;
}
.spinner-primary {
  --mdc-circular-progress-active-indicator-color: #4caf50; /* Green */
}

.spinner-warn {
  --mdc-circular-progress-active-indicator-color: #ff9800; /* Orange */
}

.spinner-accent {
  --mdc-circular-progress-active-indicator-color: #f44336; /* Red */
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: rgb(250, 237, 237);
  color: black;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.mat-icon {
  color: black;
}
.mat-card-title{
  color: black;
}
.property{
  color: black;
  font-size: medium;
}
.dashboard-card-content-image {
  position: relative;  /* Make it a positioning context */
  overflow: hidden;    /* Hide any overflow */
  height: 100%;        /* Allow the content to take full height */
}

.image-container {
  width: 100%;
  height: 98%;        /* Fill the card content */
  position: relative;
  
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px; /* Adjust margin as needed */
}


.uploaded-image {
  margin-top: 2px;
  width: 100%;         /* Full width */
  height: 95%;        /* Full height */
  object-fit: cover;   /* Scale the image while preserving aspect ratio */
  border-radius: 18px;
  display: flex;
  flex-direction: column;
}


.process-button {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 50%;
  transform: translate(-50%, 1300%);
  background-color: skyblue;
  color: white;
  z-index: 10; /* Ensure it appears above the image */
}

.blurred {
  filter: blur(8px);
}

.green-snackbar {
  background-color: green;
  color: white;
}

.red-snackbar {
  background-color: red;
  color: white;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.dashboard-card-content {
  display: flex;
  align-items: center; /* Vertically center items */
  margin-top: 20px;
}



.content-right {
  flex-grow: 1; /* Allows the content area to take up the remaining space */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns text to the left */
}

.confidence-text {
  text-align: left; /* Aligns text to the left */
}

.spinner-container {
  position: relative; /* Make this the reference for absolute positioning */
  margin-right: 16px; /* Space between spinner and content */
}

.percentage-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -48%);
  font-weight: bold;
  color: rgb(110, 95, 95); /* Optional: change color for better visibility */
}

@media (max-width: 600px) {
  .mat-grid-list {
    grid-template-columns: repeat(1, 1fr) !important; /* 1 column for small screens */
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .mat-grid-list {
    grid-template-columns: repeat(2, 1fr) !important; /* 2 columns for medium screens */
  }
}

@media (min-width: 961px) {
  .mat-grid-list {
    grid-template-columns: repeat(4, 1fr) !important; /* 4 columns for larger screens */
  }
}