body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4 !important;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/images/image.jpg'); /* Updated path */
    background-size: cover;
    background-position: center;
    color: #006064 !important;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

button {
    background-color: #4ca8af !important;
    color: white !important;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #006064 !important;
}