<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <style>
 
    </style>
</head>
<body>

    <div class="container" style="background-image: url('assets/images/image.jpg');">
        <h1>Predict Image Content</h1>
        <button mat-flat-button style="background-color: #4ca8af; color: white;" (click)="navigateToNavigationPage()">Go to Image Moderation App</button>
    </div>
   
</body>
</html>
